p{
    font-weight: bold;
    font-size: larger;
}

body{
    background-color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: midnightblue;
    text-align: center;
}

.common{
    text-align: center;
}

.header{
    height: 50px;
    line-height: 50px;
    font-size: xx-large;
    background-color: black;
    color: white;
}

.subheader{
    height: 30px;
    line-height: 30px;
    font-size: x-large;
    background-color: rgb(212, 221, 231);
    font-weight: bold;
}

.centerlist{
    list-style-position: inside;
    text-align: center;
    padding: 0;
}